<link rel="stylesheet" href="/assets/css/entry.css" crossorigin=""><link rel="preload" as="style" href="https://fonts.googleapis.com/css?family=Lato:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i%7COpen%20Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i%7CMontserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i%7CRoboto:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;display=swap"><link rel="icon" href="/assets/favicon.ico"><meta name="title" content="#90DaysToSlay: Making Sales NOT Cringe"><meta property="og:title" content="#90DaysToSlay: Making Sales NOT Cringe"><meta name="description" content="🔥 Ditch the BS. Sell Like a Human. 🔥

Sick of cookie-cutter sales advice that doesn’t move the needle? It’s time to break the mold and make sales FUN (and profitable AF). 💡 Tailored strategies. Fun and productive coaching. If you’re ready to ditch the desperation, own your value, and close deals without selling your soul, this is for you."><meta property="og:description" content="🔥 Ditch the BS. Sell Like a Human. 🔥

Sick of cookie-cutter sales advice that doesn’t move the needle? It’s time to break the mold and make sales FUN (and profitable AF). 💡 Tailored strategies. Fun and productive coaching. If you’re ready to ditch the desperation, own your value, and close deals without selling your soul, this is for you."><meta name="author" content="Jessica Allen"><meta property="og:author" content="Jessica Allen"><meta name="image" content="/assets/images/logo-hero.png"><meta property="og:image" content="/assets/images/logo-hero.png"><meta name="keywords" content="Business Growth
90-Day Program
Business Strategy
Entrepreneur Coaching
Sales Boost
Business Transformation
Goal Setting
Business Success
Strategic Planning
Leadership Development
Business Coaching
Small Business Growth
Professional Development
Sales Strategy 
B2B business
Service Business
Profit"><meta property="og:keywords" content="Business Growth
90-Day Program
Business Strategy
Entrepreneur Coaching
Sales Boost
Business Transformation
Goal Setting
Business Success
Strategic Planning
Leadership Development
Business Coaching
Small Business Growth
Professional Development
Sales Strategy 
B2B business
Service Business
Profit"><meta property="og:type" content="website"><meta property="twitter:type" content="website"><link rel="stylesheet" crossorigin="" href="/assets/css/nav-menu-v2.css"><link rel="stylesheet" crossorigin="" href="/assets/css/social-icons.css"><link rel="stylesheet" crossorigin="" href="/assets/css/mega-menu-link.css"><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i%7COpen%20Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i%7CMontserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i%7CRoboto:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;display=swap" media="all" onload="this.media='all'">