<meta charset="utf-8" /><meta name="viewport" content="width=device-width, initial-scale=1" /><title>
  {{ title | default: '#90DaysToSlay: Making Sales NOT Cringe' }}</title
><meta name="description" content="{{ description }}" /><meta
  property="og:title"
  content="{{ title | default: '#90DaysToSlay: Making Sales NOT Cringe' }}"
/><meta property="og:description" content="{{ description }}" /><meta property="og:type" content="website" /><meta
  property="og:url"
  content="https://www.90daystoslay.biz{{ page.url }}"
/><meta
  property="og:image"
  content="https://www.90daystoslay.biz{{ ogImage | default: '/assets/images/logo-hero.webp' }}"
/><meta name="twitter:card" content="summary_large_image" /><link
  rel="canonical"
  href="https://www.90daystoslay.biz{{ page.url }}"
/><link rel="preconnect" href="https://fonts.googleapis.com/" /><link
  rel="preconnect"
  href="https://fonts.gstatic.com/"
  crossorigin="anonymous"
/>
