<footer class="fullSection noBorder c-section c-wrapper section-1jXKt2n8UD"
  style=""
  id="section-1jXKt2n8UD"
>
  <div class="inner">
    <div class="row-align-center noBorder c-row c-wrapper row-lZ5Wyx-C9V" id="row-lZ5Wyx-C9V">
      <div class="inner">
        <div class="c-column c-wrapper col-4B97EbKPR0" id="col-4B97EbKPR0">
          <div class="noBorder bgCover inner">
            <div id="heading-XJGVy5QUec" class="c-heading c-wrapper">
              <div class="heading-XJGVy5QUec text-output cheading-XJGVy5QUec noBorder"
                data-animation-class=""
                style=""
              >
                <div>
                  <h2><strong>Check Out What People Say Behind My Back</strong></h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row-align-center noBorder c-row c-wrapper row-lQvq-jW5x3" id="row-lQvq-jW5x3">
      <div class="inner">
        <div class="c-column c-wrapper col-qWtZckAyOK" id="col-qWtZckAyOK">
          <div class="shadow20 borderFull radius10 bgCover inner">
            <div id="image-feature-JjP8eK90sE" class="c-image-feature c-wrapper image-feature-JjP8eK90sE">
              <div class="img-feature-container feature-img-left feature-cols-80-20 cimage-feature-JjP8eK90sE feature-cols-80-20 feature-img-left"
              >
                <div class="img-container text-center">
                  <div style="cursor: default" class="image-container">
                    <div>
                      <div>
                        <picture style="display: block"
                          ><source media="(max-width:900px) and (min-width: 768px)"
                            srcset="/assets/images/testimonial-brandon.jpeg" />
                          <source media="(max-width:768px) and (min-width: 640px)"
                            srcset="/assets/images/testimonial-brandon.jpeg" />
                          <source media="(max-width:640px) and (min-width: 480px)"
                            srcset="/assets/images/testimonial-brandon.jpeg" />
                          <source media="(max-width:480px) and (min-width: 320px)"
                            srcset="/assets/images/testimonial-brandon.jpeg" />
                          <source media="(max-width:320px)" srcset="/assets/images/testimonial-brandon.jpeg" />
                          <img src="/assets/images/testimonial-brandon.jpeg"
                            alt="Image"
                            style="object-fit: unset"
                            class="feature-cols-80-20 feature-img-left shadow20 img-round-corners mw-100"
                            loading="lazy"
                            fetchpriority="auto"
                            data-animation-class=""
                        /></picture>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="txt-container">
                  <div class="image-feature-JjP8eK90sE-headline text-output featureHeadline">
                    <div>
                      <p>
                        Jessica truly slays it! The attention and advice I got from her during our session brought some
                        clarity around my brand and specific things I need to be doing as well as some things I could or
                        should do to gain more clients, trust and simplify my processes. Highly recommend you sign up
                        for your slay session today if you are experiencing pain in your marketing and customer
                        acquisition. Truly one of a kind experience!
                      </p>
                    </div>
                  </div>
                  <div class="image-feature-JjP8eK90sE-text text-output featureText">
                    <div>
                      <p><strong>Brandon - Client</strong></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="c-column c-wrapper col-xNOI4MiRfA" id="col-xNOI4MiRfA">
          <div class="shadow20 borderFull radius10 bgCover inner">
            <div id="image-feature-Vi1gTcxyn8" class="c-image-feature c-wrapper image-feature-Vi1gTcxyn8">
              <div class="img-feature-container feature-img-left feature-cols-80-20 cimage-feature-Vi1gTcxyn8 feature-cols-80-20 feature-img-left"
              >
                <div class="img-container text-center">
                  <div style="cursor: default" class="image-container">
                    <div>
                      <div>
                        <picture style="display: block"
                          ><source media="(max-width:900px) and (min-width: 768px)"
                            srcset="/assets/images/testimonial-raul.jpeg" />
                          <source media="(max-width:768px) and (min-width: 640px)"
                            srcset="/assets/images/testimonial-raul.jpeg" />
                          <source media="(max-width:640px) and (min-width: 480px)"
                            srcset="/assets/images/testimonial-raul.jpeg" />
                          <source media="(max-width:480px) and (min-width: 320px)"
                            srcset="/assets/images/testimonial-raul.jpeg" />
                          <source media="(max-width:320px)" srcset="/assets/images/testimonial-raul.jpeg" />
                          <img src="/assets/images/testimonial-raul.jpeg"
                            alt="Image"
                            style="object-fit: unset"
                            class="feature-cols-80-20 feature-img-left shadow20 img-round-corners mw-100"
                            loading="lazy"
                            fetchpriority="auto"
                            data-animation-class=""
                        /></picture>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="txt-container">
                  <div class="image-feature-Vi1gTcxyn8-headline text-output featureHeadline">
                    <div>
                      <p>
                        She gave a presentation at #ATSI2025 that was phenomenal. Great woman with a lot of creative
                        ideas. Thank you Jessica Allen for helping me be more confident and comfortable with my silly
                        side and not hiding it from the world!!
                      </p>
                    </div>
                  </div>
                  <div class="image-feature-Vi1gTcxyn8-text text-output featureText">
                    <div>
                      <p><strong>Raul - TAS Client</strong></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="c-column c-wrapper col-nqUOXUAfiK" id="col-nqUOXUAfiK">
          <div class="shadow20 borderFull radius10 bgCover inner">
            <div id="image-feature-N_3fFkGL0f" class="c-image-feature c-wrapper image-feature-N_3fFkGL0f">
              <div class="img-feature-container feature-img-left feature-cols-80-20 cimage-feature-N_3fFkGL0f feature-cols-80-20 feature-img-left"
              >
                <div class="img-container text-center">
                  <div style="cursor: default" class="image-container">
                    <div>
                      <div>
                        <picture style="display: block"
                          ><source media="(max-width:900px) and (min-width: 768px)"
                            srcset="/assets/images/testimonial-anne.png" />
                          <source media="(max-width:768px) and (min-width: 640px)"
                            srcset="/assets/images/testimonial-anne.png" />
                          <source media="(max-width:640px) and (min-width: 480px)"
                            srcset="/assets/images/testimonial-anne.png" />
                          <source media="(max-width:480px) and (min-width: 320px)"
                            srcset="/assets/images/testimonial-anne.png" />
                          <source media="(max-width:320px)" srcset="/assets/images/testimonial-anne.png" />
                          <img src="/assets/images/testimonial-anne.png"
                            alt="Image"
                            style="object-fit: unset"
                            class="feature-cols-80-20 feature-img-left shadow20 img-round-corners mw-100"
                            loading="lazy"
                            fetchpriority="auto"
                            data-animation-class=""
                        /></picture>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="txt-container">
                  <div class="image-feature-N_3fFkGL0f-headline text-output featureHeadline">
                    <div>
                      <p>
                        I had the privilege of working with Jessica while she led Sales and Marketing at Trinsic
                        Technologies. Jessica is an out-of-the box thinker and is a highly driven, very creative sales
                        professional! She has heart, determination, and tenacity! She has such an amazing talent for
                        building and maintaining strong client relationships. I would highly recommend Jessica to any
                        organization looking to increase sales growth and retain clients. One of the best!
                      </p>
                    </div>
                  </div>
                  <div class="image-feature-N_3fFkGL0f-text text-output featureText">
                    <div>
                      <p><strong>Anne - Client</strong></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="c-column c-wrapper col-0S8ZDfxi5F" id="col-0S8ZDfxi5F">
          <div class="shadow20 borderFull radius10 bgCover inner">
            <div id="image-feature-01yBAes7y9" class="c-image-feature c-wrapper image-feature-01yBAes7y9">
              <div class="img-feature-container feature-img-left feature-cols-80-20 cimage-feature-01yBAes7y9 feature-cols-80-20 feature-img-left"
              >
                <div class="img-container text-center">
                  <div style="cursor: default" class="image-container">
                    <div>
                      <div>
                        <picture style="display: block"
                          ><source media="(max-width:900px) and (min-width: 768px)"
                            srcset="/assets/images/testimonial-jeff.png" />
                          <source media="(max-width:768px) and (min-width: 640px)"
                            srcset="/assets/images/testimonial-jeff.png" />
                          <source media="(max-width:640px) and (min-width: 480px)"
                            srcset="/assets/images/testimonial-jeff.png" />
                          <source media="(max-width:480px) and (min-width: 320px)"
                            srcset="/assets/images/testimonial-jeff.png" />
                          <source media="(max-width:320px)" srcset="/assets/images/testimonial-jeff.png" />
                          <img src="/assets/images/testimonial-jeff.png"
                            alt="Image"
                            style="object-fit: unset"
                            class="feature-cols-80-20 feature-img-left shadow20 img-round-corners mw-100"
                            loading="lazy"
                            fetchpriority="auto"
                            data-animation-class=""
                        /></picture>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="txt-container">
                  <div class="image-feature-01yBAes7y9-headline text-output featureHeadline">
                    <div>
                      <p>
                        Jessica is first, and foremost, a very genuine person! She brings a high level of energy to
                        every thing she does. In addition to her expansive knowledge and skill set, she is a wonderful
                        friend and passionate networker. Many people like to claim the "customer-centric" mantra, but
                        Jessica OWNS it. You will not be disappointed if you have the opportunity to work with her!
                      </p>
                    </div>
                  </div>
                  <div class="image-feature-01yBAes7y9-text text-output featureText">
                    <div>
                      <p><strong>Jeff - Partner</strong></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
